.banner {
  background: #ccccff68;
background: -webkit-linear-gradient(top left, #ccccff68, #9fe2bf78);
background: -moz-linear-gradient(top left,#ccccff68, #9fe2bf78);
background: linear-gradient(to bottom right, #ccccff68, #9fe2bf78);

  color: #808080;

  justify-content: center;
  align-items: center;
}